body {
    background-color: #092447;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 50px;
    padding-bottom: 30px;
}

.opening-section{
    vertical-align: middle;
    min-height: 450px;
    padding: 50px;
    flex-wrap: wrap;
}

.tasks-section {
    background-color: crimson;
    align-items: center;
    align-content: center;
    padding: 50px;
    width: auto;
    min-height: 450px;
}

button {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
    background-color: crimson;
    border: none;
    border-radius: 35px;
    width: 200px;
    height: 70px;
    font-size: large;
}

button.launch:hover{
    background-color: darkblue;
}

.about-me-section {
    width: auto;
}

.am1 {
    width: 50%;
    float: left;
}

.am2 {
    width: 50%;
    float: right;
    text-align: justify;
}

footer {
    text-align: center;
}
.logo {
    float: unset;
}

.back-button {
    text-align: right;;
}